@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
}

body{
    background: #E5E6F0;
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-family: Roboto, sans-serif;
}

.box-shadow{
    background: #FFF;
    
    -webkit-box-shadow: 5px 5px 8px 0px rgba(176,176,176,1);
    -moz-box-shadow: 5px 5px 8px 0px rgba(176,176,176,1);
    box-shadow: 5px 5px 8px 0px rgba(176,176,176,1);

    margin: 10px;
    padding: 10px;
}